main {
    margin-top: 100px !important;
}

.imageTextHolder {
    position: relative;
    box-sizing: border-box;
    margin-bottom: -5px;
}

.imageTextHolder>img {
    width: 100%;
}

.textHolder {
    position: absolute;
    width: 30%;
    top: 17%;
    color: white;
    font-size: 32px;
    font-family: "Mont";
}

.textHolder>h1 {
    font-size: 68px;
    font-family: "IBM";
    margin: 0;
}

.textHolder>p {
    margin: 5px 0;
}

.imageTextHolder:nth-child(2n)>.textHolder {
    right: 3%;
    text-align: end;
}

.imageTextHolder:nth-child(2n+1)>.textHolder {
    left: 3%;
    text-align: start;
}

.mostSuccefulWorker { 
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.mostSuccefulWorker>div {
    width: 42%;
}

.textSuccesfulWorker p {
    margin: 0;
    font-size: 32px;
}
.mostSuccesfulWorkerBio {
    background-color: rgba(217, 217, 217, .3);
    margin-top: 25px;
    padding: 20px 40px;
    box-sizing: border-box;
}

.mostSuccesfulWorkerBio img {
    width: 100%;
}

.mostSuccesfulWorkerBio h3 {
    color: #000C77;
    font-size: 30px;
    margin-bottom: 0;
}

.mostSuccesfulWorkerBio p {
    margin-top: 15px;
    font-size: 24px;
}

.textSuccesfulWorker .FUNTIK {
    font-size: 52px;
}

.mostSuccesfulWorkerP {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    height: auto;
}

.container {
    display: block;
    position: relative;
    line-height: 50px;
    margin-bottom: 75px;
    width: 100%;
    margin-top: 20px;
}

.container>p {
    position: absolute;
    bottom: -50px;
    left: 22px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Mont";
}

.container:before {
    color: #d6d6d6;
    display: inline;
    content: "11";
    font-size: 20px;
    padding: 50px 0;    
    background-color: #d6d6d6;
    border-radius: 10px;
}