footer {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 80px 0 40px 0;
}

.contacts>h1 {
    font-weight: bolder;
    font-size: 52px;
    margin-bottom: 5px;
}

.contactsFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 30px;
}

.contactsFItem {
    width: 44%;
    line-height: 40px;
}

.contactsFItem img {
    width: 40px;
    transform: translateY(22%);
    margin-right: 10px;
}

.contactsFItem a, .contactsFItem span {
    color: black;
    text-decoration: underline dotted;
    overflow: hidden;
    cursor: pointer;
}

.contactsFItem span::after {
    display: none;
}

.contactsInputForm  {
    position: relative;
    margin-top: 80px;
}

.contactsInputForm img {
    width: 100%;
}

.contactsForm {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 80;
}

.contactsForm>h1 {
    margin: 64px 0 14px 0;
    font-size: 52px;
}

.contactsForm input {
    width: 37%;
    background-color: rgba(0, 0, 0, 0);
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 24px;
    padding-left: 12px;
    box-sizing: border-box;
}

.contactsForm input::placeholder {
    color: rgba(0, 0, 0, .6);
}

button {
    background-color: #000;
    border-radius: 15px;
    text-align: center;
    color: white;
    padding: 7px 49px;
    font-family: "Mont";
    font-size: 28px;
    margin-top: 35px;
    border: none;
}

input:focus::placeholder {
    color: rgba(0, 0, 0, 0);
}