body { 
    background-color: #1B1919;
    background-image: url(/images/image_1.svg);
}
.textContainer {
    margin: auto;
    margin-top: 50vh;
    transform: translateY(-50%);
}
.textContainer * {
    margin: 0;
    padding: 0;
}